



#accordion1 {
    background-color: rgb(56, 159, 244);
    color: white
}

#accordion2 {
    background-color: rgb(56, 159, 244);
    color: white
}

#accordion3 {
    background-color: rgb(56, 159, 244);
    color: white
}

#accordionTittle2 {
    background-color: rgb(28, 128, 215);
    color: rgb(26, 3, 3)
    
}