.accordion-image {
    width: 80%;
    margin-left: 10%
}

.hidden {
    display: none;
}

body {
    --bs-body-font-family: var(--bs-font-monospace);
    background-color:rgb(48, 58, 103);
    position: relative;
    height: 100vh;
}


.accordion-body {
    background-color: rgb(48, 58, 103);
}

.container-fluid {
    background-color: rgb(121, 159, 215);
    height: 200%;
}

.btn {
    background-color: rgba(49, 47, 134, 0.469);
    color: aliceblue;
}

.accordionTitleOne {
background-color: rgba(208, 0, 90, 0.469);
}

footer {
    background-image: url("https://www.telstra.us.com/content/dam/shared-component-assets/tecom/networks/global-networks/global-internet/hero-banner-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center center;
    bottom: 0;
    width: 100%;
}

